<ul class="list-group">
  <% @quotes.each do |quote| %>
    <li class="list-group-item">
      <%= link_to quote.body, quote %>
    </li>
  <% end %>
</ul>
<p class="text-center">
  <%= link_to root_path, class: "btn btn-default", roll: "button" do %>
    <span class="glyphicon glyphicon-refresh"></span> 更新する
  <% end %>
</p>

