@import "bootstrap";
@import "font-awesome";

.fa-6 {
  font-size: 2em;
}

#social-buttons {
  margin: 0 0 10px;
  display: inline-block;
}

#social-buttons > * {
  float: left;
  line-height: 0;
}

.fb-like,.fb-like span,.fb-like iframe{
  width: 110px !important;
}
